<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><{$config.title}></title>
  <meta name="keywords" content="<{$config.keywords}>" />
  <meta name="description" content="<{$config.description}>" />
  <link rel="stylesheet" href="<{$Think.const.INDEX_CSS_URL}>style.css" />
  <script src="<{$Think.const.INDEX_JS_URL}>jquery.min.js" type="text/javascript"></script>
  

  <!--[if lte IE 9]>
      <link rel="stylesheet" href="<{$Think.const.INDEX_CSS_URL}>ieCss.css" />
    <![endif]-->
    <script language="javascript">
    function killErrors()
    {
      return true;
    }
    window.onerror = killErrors;
    </script>
    <script src="<{$Think.const.INDEX_JS_URL}>jquery.SuperSlide.js"></script>
<script>
	$(function(){
		jQuery(".swiper-banner").slide({mainCell:".swiper-wrapper",effect:"leftLoop",autoPlay:true, prevCell:".swiper-button-prev", nextCell:".swiper-button-next",titCell:".slide-pagination li", interTime:5000 });
	})

</script>
<script src="<{$Think.const.INDEX_JS_URL}>common.js" type="text/javascript"></script>
</head>
<body>
<!--通用头部 start-->
{include file="public/header"/}   
<!-- 通用头部 end -->
<!--.container start -->
<div class="container">
	<!--幻灯片start-->
    <div class="swiper-banner">
		<div class="bd">
			<div class="swiper-wrapper">
            					
                                {foreach $slide_list as $slide}
								<div class="swiper-slide">
									<div class="swiper-slidetext">
										<a href="<{$slide.url}>"><img src="<{$slide.image}>" alt="<{$slide.title}>"></a>
										
									</div>
								</div>
                				{/foreach}
					
                				
            </div>
		</div>
		<ul class="slide-pagination">
						<li></li>
						<li></li>
						<li></li>
					</ul>
		<!-- <div class="pagination"></div> -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>

    <!--幻灯片end-->

    <!--产品中心 start-->
	<div class="hpanel bgf2f2f2">
		<a class="hpanel-hd" href="<{:real_url('products',$is_html)}>"><div class="hpanel-title">产品中心</div><small class="hpanel-subtitle opacity3">PRODUCTS</small><div class="hpanel-line"></div></a>
		<div class="main ovh">
			<ul class="hpanel-bd">
            		{foreach $products_list as $product}
								<li class="product-list">
					<a class="product-main" href="<{:real_url('products',$is_html,'',$product.products_id)}>">
						<div class="product-title"><{$product.products_name}></div>
						<div class="product-bd flex flex-vc">
							<div class="product-icon flex-none"><img src="<{$product.image}>" alt="<{$product.products_name}>"></div>
							<div class="product-text flex-1"><{$product.content|mb_substr=0,100}></div>
						</div>
					</a>
				</li>
                		{/foreach}			
                			</ul>
		</div>					
	</div>
    <!--产品中心 end-->

    <!--案例中心 start-->
    <div class="hpanel">
		<a class="hpanel-hd" href="<{:real_url('cases',$is_html)}>"><div class="hpanel-title">案例中心</div><small class="hpanel-subtitle opacity3">case</small><div class="hpanel-line"></div></a>
		<div class="main ovh">
			<ul class="hpanel-bd">
            	{foreach $cases_list as $cases}
                		<a href="<{:real_url('cases',$is_html,'',$cases.cases_id)}>">
								<li class="case-list">
					<div class="case-main">
						<div class="case-bd">
							<div class="case-logo">
																	<img alt="<{$case.cases_name}>" src="<{$cases.logo}>">
	                            							</div>
							<div class="case-ewm">
																	<img alt="<{$cases.cases_name}>" src="<{$cases.qrcode}>">
	                            							</div>
						</div>
						<div class="case-title"><{$cases.cases_name}></div>
					</div>
				</li>	</a>
                		{/foreach}		
                			</ul>
		</div>
	</div>
    <!--案例中心 end-->
    
    <!--资讯中心 start-->
    <div class="hpanel bgf2f2f2">
		<a class="hpanel-hd" href="<{:real_url('article','','')}>"><div class="hpanel-title">资讯中心</div><small class="hpanel-subtitle opacity3">news</small><div class="hpanel-line"></div></a>
		<div class="main clearfix">
        
        {foreach name="cate_list" item="cate" key="k"}
        
			<div class="news-industry {if $k==0}fl{else}fr{/if}">
				<div class="news-title"><{$cate.cate_name}><a class="news-title-more" href="<{:real_url('article',$is_html,$cate.cate_id)}>">更多>> </a></div>
				<div class="news-bd">
                		{foreach $article_list[$k] as $article}	
				 						<a class="news-list" href="<{:real_url('article',$is_html,0,$article.article_id)}>">
						<div class="news-list-times"><{$article.create_time|date= "Y-m-d",###}></div>
						<div class="news-list-text"><span class="list-spot">·</span><{$article.article_name}></div>
					</a>
                    	{/foreach}
                    				</div>
			</div>
		
            {/foreach} 
		</div>
       
	</div>
    <!--资讯中心 end-->
</div>
<!--.container end -->

<!-- 页面js -->


<!--通用尾部 start-->

{include file="public/footer"/}   

<!--通用尾部 end-->

</body>
</html>