<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title><{$article_info.article_name}></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.WAP_CSS_URL}>user.css">
<link rel="stylesheet" type="text/css" href="<{$Think.const.WAP_CSS_URL}>load.css">
<style type="text/css"> 
section .content img{
    width:100%;
}
</style>
</head>
<body onload="loadDiv.style.display='none';">
 
    <div class="main" id="loadDiv">
        <div class="loadEffect">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </div>
    </div>





<ul class="bd_type">
    <li style='width:100%' class="currnet"><{$article_info.article_name}></li>
   

 </ul>



<section>
   <div class="content">
       <{$article_info.article_content|htmlspecialchars_decode}>
   </div>
</section>

{include file="public/footer_gr" /}
</body>
