<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加文章</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
      
   <link rel="stylesheet" href="<{$Think.const.ADMIN_CSS_URL}>bootstrap.min.css">
        <script src="<{$Think.const.VENDOR_URL}>kindeditor/kindeditor.js" type="text/javascript" charset="utf-8" ></script>
<script type="text/javascript" charset="utf-8" src="<{$Think.const.VENDOR_URL}>kindeditor/lang/zh_CN.js"></script>
  <script type="text/javascript" src="<{$Think.const.ADMIN_JS_URL}>jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="<{$Think.const.ADMIN_JS_URL}>bootstrap.min.js"></script>
<style type="text/css">
.input-group{
  margin-top:10px;
}
.input-group .w100{
  width:100px;
}
.input-group .w200{
  width:200px;
}
.btn-group{
 display:block;
  margin:0px auto;
  height:50px;
}
.btn-group>.btn:first-child{
  float:none;
    display:block;
  margin:0px auto;

}
</style>
    </head>

    <body>
<script type="text/javascript">
    KindEditor.ready(function(K) {
    window.editor = K.create('#editor_id');
    });
</script>
<div class="panel panel-info">
  <!--<div class="panel-heading">当前位置是：文章管理->添加文章</div>-->
  <div class="panel-body">
  <form action="/index.php/admin/article/add" method="post">
    <div class="input-group"><span class="input-group-addon " id="basic-addon1">文章标题</span><input name="article_name" type="text" class="form-control w200" placeholder="" aria-describedby="basic-addon1" value="<{$article.article_name}>"></div>
	<div class="input-group"><span class="input-group-addon " id="basic-addon1">文章分类</span><select name="cate_id" class="form-control w200">
         {foreach $cate_list as $cate}
     <option value="<{$cate.cate_id}>" {if $cat.cate_id==$article.cate_id}selected{/if}><{$cate.cate_name}></option>
 
     {/foreach}
    </select></div>
    
        <div class="input-group"><span class="input-group-addon " id="basic-addon1">文章来源</span><input name="author" type="text" class="form-control w200" placeholder="" aria-describedby="basic-addon1" value="<{$article.author}>"></div>

    <div class="input-group w100"><span class="input-group-addon w100" >
        <input type="checkbox" aria-label="..." name="status" value="1" {if $article.status==false}{else}checked{/if}>是否显示
      </span></div>

   
 
    <div class="input-group"><span class="input-group-addon " id="basic-addon1">文章内容</span>  <textarea name="article_content" class="form-control" placeholder="" aria-describedby="basic-addon1" style=" height:250px;" id="editor_id"><{$article.article_content}></textarea></div>
 <input type="hidden" name="article_id" value="<{$article.article_id}>">
 <br>
  <div class="btn-group" role="group" style="text-align: center"><input type="submit" class="btn btn-primary" value="确认保存" style="display:inline-block;">&nbsp;&nbsp;<input type="submit" class="btn btn-success" value="保存并生成html文件" name="html" style="display:inline-block;float:none"></div>
  </form>
   </div>
</div>

       

    </body>
</html>
