<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>文章列表</title>

       <link rel="stylesheet" href="<{$Think.const.ADMIN_CSS_URL}>common.css">
<link rel="stylesheet" href="<{$Think.const.ADMIN_CSS_URL}>main.css?11">
<script type="text/javascript" src="<{$Think.const.ADMIN_JS_URL}>jquery-1.9.1.min.js"></script>

    </head>
    <body>
          
          
        <div id='dialog-modal'></div>
        <div class="container">
    <div id="button" class="mt10">
   <input type="button" id="btn1" class="btn btn82 btn_checked" value="全选"> 
   <input type="button" id="btn2" class="btn btn82 btn_nochecked" value="取消">
   <input type="button" id="btn3" class="btn btn82 btn_del" value="删除">
   <a href="/admin/article/add"><input type="button" id="btn4" class="btn btn82 btn_add" value="添加"></a>
</div> 
    <div id="search_bar" class="mt10">
       <div class="box">

          <div class="box_border">
 
            <!--<div class="box_top"><b class="pl15">当前位置是：文章管理->文章列表</b></div>-->

            <div class="box_center pt10 pb10">

              <table class="form_table" border="0" cellpadding="0" cellspacing="0">

                <tr>
                      <form action="/admin/article/search" method="get">
                   
                
                 
                  <td>标题</td>
                  <td><input type="text" name="keyword" class="input-text lh25" size="50"></td>
                  <td><input name="sel" type="submit" value="查询" class="ext_btn ext_btn_submit"></td>
                </form>
          
                  
              
                </tr>
           </table>
            </div>
          </div>

        </div>

    </div>

     <div id="table" class="mt10">

        <div class="box span10 oh">

              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">

                <tr class="tr">

                    <th width="30">序号</th>
                    <th width="30">选择</th>
                        <th width="140">文章标题</th>
                         <th width="140">文章分类</th>
                    <th width="140">链接</th>
                        <th width="30">是否显示</th>
                 
                      
                      
                     
                        <th width="70">点击数</th>
  <th width="100">创建时间</th>
                  <th width="150">操作</th>
                   <!-- <th width="50"><a href="movie.php?weekdjs=desc" title="降序">上周点击</a></th>
                   <th width="50"><a href="movie.php?addweekdjs=desc" title="降序">本周点击</a></th>  -->

                    </tr>
                   
  {foreach $article_list as $v}
               
                        <tr class="tr">
                             <td><{$v.article_id}></td>
                   <td class="td_center"><input type="checkbox" name="checkbox" value="<{$v.article_id}>"></td>
                   <td><a href="/index.php/admin/article/add/article_id/<{$v.article_id}>"><{$v.article_name}></a></td>
                    <td><{$v.cate_name}></td>
                  
              <td>动态：<{$domain}>/index/article/content/article_id/<{$v.article_id}>{if $v.html}<br>静态：<{$domain}>/article/<{$v.article_id}>.html<br>{/if}</td>
              <td>{if $v.status}是{else}否{/if}</td> 
            
                 
                       
        <td><{$v.click}></td>                   

<td><{$v.create_time|date="Y-m-d H:i",###}></td>
                    <td><a href="/admin/article/edit/article_id/<{$v.article_id}>">修改</a>|<a href="javascript:;" onclick="delete_item(<{$v.article_id}>)">删除</a></td>
                 </tr>
                    {/foreach}


                   
                  
                  
            </table>
              <div class="page mt10">
               <div class="pagination">
             	<{$html_page}>
                </div> 

              </div>

        </div>

     </div>

   </div> 


         <script type="text/javascript">
           

        
            function delete_item(id){
				
              if(confirm('是否删除')){
                
                  
                    location.href="/admin/article/delete/article_id/"+id;
            
              }
               
            }
			
			 $(function(){
			 
			 $("#btn1").click(function(){
				   $(":checkbox").prop("checked", true);
		
				 })
			 
			 $("#btn2").click (function(){
				   $(":checkbox").prop("checked", false);
		
				 })
			 
			  $("#btn3").click(function(){
				  
				  if(confirm('是否删除选中')){
				  
				id=[];
				  
				$(":checked").each(function(){
					
					id.push($(this).val());
				
					}) 
					
				if(id == false){
					
					alert("未选择任何");
					
					return;
					
					}	
					 
				$.post('/admin/article/delete_ajax/',{article_id:id.join()},function(data){
					
					 alert(data);
					 
					$(":checked").each(function(){
						
						n = $(this).parents("tr").index();
						
						
						$(".list_table").find("tr:eq("+n+")").remove();
						
						
						}); 
					 
					
					})  
				  
				 
						}
				  })
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 }) 
          
            </script>
        
  
   
    </body>
</html>