<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><{$cases.cases_name}>_<{$config.title}></title>
  <meta name="format-detection" content="telephone=no, address=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="keywords" content="<{$config.keywords}>" />
  <meta name="description" content="<{$config.description}>" />

  <link rel="stylesheet" href="<{$Think.const.INDEX_CSS_URL}>style.css" />
  <script src="<{$Think.const.INDEX_JS_URL}>jquery.min.js" type="text/javascript"></script>
  <!--[if lte IE 9]>
      <link rel="stylesheet" href="<{$Think.const.INDEX_CSS_URL}>ieCss.css" />
    <![endif]-->
    <script language="javascript">
    function killErrors()
    {
      return true;
    }
    window.onerror = killErrors;
    </script>
    <style>
	
		.xg1 {
    padding: 15px 0 15px 0;
    border-bottom: solid 1px #ccc;
	
    margin: 0 0 15px 0;
    color: #000;
    font-size: 12px;
}
	.bzabout-article img{width:100%;margin-top:20px;}

	</style>
</head>
<body>
<!--通用头部 start-->
  {include file="public/header" /} 
  <!-- 通用头部 end -->
<!--.container start -->

        <div class="blank30"></div>
    <div class="main clearfix">
		<div class="sideBox">
				<a class="sideBox-nav" href="<{:real_url('cases',$is_html,$cate.cate_id)}>">
			<div class="sideBox-title"><{$nav_name}></div>
			<div class="sideBox-subtitle opacity4">case</div>
		</a>
		<div class="sideBox-list">
        					
        		{foreach $cate_list as $cate}
	      					<a class="sideBox-list-a {if $cate_info.cate_name==$cate.cate_name}on{/if}" href="<{:real_url('cases',$is_html,$cate.cate_id)}>"><{$cate.cate_name}></a>
	      					
                            
                      {/foreach}      
                            
	      			</div>
    			</div>        <div class="rightBox">
        	
            		<div class="bzabout">
    			<br>
    			<h2 class="bzabout-title"><{$cases.cases_name}></h2>
                
                <p class="xg1">{if $cases.url}网址：<a href="<{$cases.url}>"><{$cases.url}></a>{/if}</p>
				
                <div class="bzabout-article">
                	
                    <p><{$cases.content|htmlspecialchars_decode}></p>
                    
                    <img src="<{$cases.image}>" alt="<{$cases.cases_name}>" title="<{$cases.cases_name}>">
                
                
 				</div>
               
    		</div>
            <div class="pgs xiaoyu_pgs clf">
                <div class="pg">
        <div class="dux-page">
          		
        </div></div>
            </div>
        </div>
    </div>
    <div class="blank30"></div>
</div>
<!--.container end -->

<!--通用尾部 start-->
{include file="public/footer" /} 
<!--通用尾部 end-->

</body>
</html>