<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>发送信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.WAP_CSS_URL}>user.css">
<link rel="stylesheet" type="text/css" href="<{$Think.const.WAP_CSS_URL}>makeorder.css">
<link rel="stylesheet" type="text/css" href="<{$Think.const.WAP_CSS_URL}>load.css">
<style type="text/css"> 


 .bd_type .currnet{width:100%;}

</style>
</head>
<body onload="loadDiv.style.display='none';">
 
    <div class="main" id="loadDiv">
        <div class="loadEffect">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </div>
    </div>





<ul class="bd_type">
    <li class="currnet">发送信息</li>
 </ul>



<section>

<form id="payment"  onsubmit="return checkForm()" method="post" action="/wap/message/send_message">
 <input type="hidden" name="postcode"  value="<{$postcode}>">

    <fieldset>
     <legend>发送对象</legend>
           <ol>
         
                        <li><img src="<{$get_info.headimgurl}>" alt="" style="width:40px;height:40px;border-radius: 40px;vertical-align: middle;">&nbsp;&nbsp;<{$get_info.nickname}></li>
          
           
                 </ol>
    
        <legend>发送内容</legend>
           <ol>
            <li>
            <textarea required name="content" style="width:95%;"></textarea>
            </li>
                 </ol>
                 <input type="hidden" name="get_id" value="<{$get_info.user_id}>">
                 <input type="hidden" name="level" value="<{$level}>">
                 <button type="submit" class="btn" style="width:80%;display:block" >发送</button>
    </fieldset>
    </form>
</section>

</body>
